<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-35}</string>
                <key>spriteSize</key>
                <string>{187,206}</string>
                <key>spriteSourceSize</key>
                <string>{375,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{187,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-35}</string>
                <key>spriteSize</key>
                <string>{173,206}</string>
                <key>spriteSourceSize</key>
                <string>{375,300}</string>
                <key>textureRect</key>
                <string>{{1,417},{173,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-37}</string>
                <key>spriteSize</key>
                <string>{163,202}</string>
                <key>spriteSourceSize</key>
                <string>{375,300}</string>
                <key>textureRect</key>
                <string>{{174,627},{163,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-35}</string>
                <key>spriteSize</key>
                <string>{145,206}</string>
                <key>spriteSourceSize</key>
                <string>{375,300}</string>
                <key>textureRect</key>
                <string>{{339,619},{145,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-29}</string>
                <key>spriteSize</key>
                <string>{149,200}</string>
                <key>spriteSourceSize</key>
                <string>{375,300}</string>
                <key>textureRect</key>
                <string>{{355,209},{149,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-25}</string>
                <key>spriteSize</key>
                <string>{171,198}</string>
                <key>spriteSourceSize</key>
                <string>{375,300}</string>
                <key>textureRect</key>
                <string>{{1,831},{171,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-22}</string>
                <key>spriteSize</key>
                <string>{179,196}</string>
                <key>spriteSourceSize</key>
                <string>{375,300}</string>
                <key>textureRect</key>
                <string>{{174,831},{179,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-36}</string>
                <key>spriteSize</key>
                <string>{175,204}</string>
                <key>spriteSourceSize</key>
                <string>{375,300}</string>
                <key>textureRect</key>
                <string>{{190,1},{175,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-35}</string>
                <key>spriteSize</key>
                <string>{157,204}</string>
                <key>spriteSourceSize</key>
                <string>{375,300}</string>
                <key>textureRect</key>
                <string>{{176,421},{157,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-36}</string>
                <key>spriteSize</key>
                <string>{149,210}</string>
                <key>spriteSourceSize</key>
                <string>{375,300}</string>
                <key>textureRect</key>
                <string>{{182,209},{149,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-31}</string>
                <key>spriteSize</key>
                <string>{135,204}</string>
                <key>spriteSourceSize</key>
                <string>{375,300}</string>
                <key>textureRect</key>
                <string>{{355,827},{135,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-30}</string>
                <key>spriteSize</key>
                <string>{137,206}</string>
                <key>spriteSourceSize</key>
                <string>{375,300}</string>
                <key>textureRect</key>
                <string>{{367,1},{137,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-28}</string>
                <key>spriteSize</key>
                <string>{147,206}</string>
                <key>spriteSourceSize</key>
                <string>{375,300}</string>
                <key>textureRect</key>
                <string>{{335,411},{147,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-28}</string>
                <key>spriteSize</key>
                <string>{171,204}</string>
                <key>spriteSourceSize</key>
                <string>{375,300}</string>
                <key>textureRect</key>
                <string>{{1,625},{171,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-31}</string>
                <key>spriteSize</key>
                <string>{179,206}</string>
                <key>spriteSourceSize</key>
                <string>{375,300}</string>
                <key>textureRect</key>
                <string>{{1,209},{179,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RunAnim-0.png</string>
            <key>size</key>
            <string>{505,1032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43a47735aa6e7dc6a5c86a21b09aeaae:843439b575b339831f93c2b9895ad8f9:fbd67f556933c8b5ac0ed6bf16761953$</string>
            <key>textureFileName</key>
            <string>RunAnim-0.png</string>
        </dict>
    </dict>
</plist>
